:root {
  --rocf-primary: #0857DE;
  --rocf-secondary: #F2F6FE;
  --rocf-MCI: #FFF7CF;
  --rocf-MCI-dark: #FFA800;
  --rocf-normal: #CFFFDF; 
  --rocf-normal-dark: #009922;
  --rocf-dementia: #FFE3E3;
  --rocf-dementia-dark: #FF2323;
  --rocf-text-color: #2B2B2B;
  --rocf-content-margin-x: 16px;
  --rocf-card-padding: 16px;
  --rocf-card-radius: 8px;
  --rocf-page-padding: 16px;
  --rocf-card-shadow: 0px 4px 12px rgba(117, 117, 117, 0.1);
}

@font-face {
  font-family: 'Noto';
  src: url('../assets/fonts/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'NotoItalic';
  src: url('../assets/fonts/NotoSans-Italic.ttf');
}

@font-face {
  font-family: 'Noto';
  font-weight: 600;
  src: url('../assets/fonts/NotoSans-Medium.ttf');
}

@font-face {
  font-family: 'Noto';
  font-weight: 800;
  src: url('../assets/fonts/NotoSans-Bold.ttf');
}
@font-face {
  font-family: 'Noto';
  font-weight: 200;
  src: url('../assets/fonts/NotoSans-Light.ttf');
}